/*General styling*/
body {
    background-color: #f0eef1;
}
h1 {
    font-family: poppins, sans-serif;
    font-size: 35px;
    font-weight: 600;
}

.header img {
    width: 60px;
    height: 60px;
}


/* Header Styling */

header {
    background-color: white;
    width:100%;
    box-shadow: 0px 1px 5px grey;
}

.header {
    width: 50%;
    display:flex;
    text-align: center;
    margin:0 auto;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

/*addBook styling*/
h2 {
    font-family: poppins;
    font-size: 20px;
    display: inline-block;
    margin: 5px 5px;
    font-weight: 600;
}

.addBook img {
    display: inline-block;
}

.addBook button {
    background-color: white;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    display:flex;
    align-items: center;
    justify-content: space-around;
    min-width: 200px;
    width:11%;
    box-shadow: 0px 1px 5px grey;
}

.addBook button:hover {
    background-color: rgba(255, 228, 196, 0.815);
    box-shadow: 0px 6px 5px  grey;
    cursor: pointer;
}

.addBook button:active {
    box-shadow: 0px 2px 5px grey;
}

.addBook {
    margin-top:50px;
    width: 100%;
}

/*Book section styling*/

.books {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width:80%;
    margin: 50px auto;
}

.book {
    background-color: white;
    min-width: 250px;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    margin: 20px 20px;
}

.book button {
    background-color: rgb(224, 224, 224);
    border: none;
    border-radius: 5px;
    margin: 5px auto;
    font-family: poppins;
    font-size: 20px;
    font-weight: 400;
    width:80%;
}

.book button:hover {
    cursor:pointer;
}

.book h1 {
    margin: 20px 10px;
    font-size: 22px;
    text-align: center;
}

.book h2 {
    font-weight: 400;
    margin: 0 auto 13px;
}

.book .lastButton {
    margin: 5px auto 15px;
    background-color: rgb(255, 72, 72);
}

.book .lastButton:hover {
    cursor:pointer;

}

/*Book form styling*/

.formBackground {
    width: 100vw;
    height:100vh;
    z-index: 5;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%) scale(1);
    background-color: rgba(0, 0, 0, 0.144);
}

.bookForm {
    background-color: #f0eef1;
    border: 1px solid grey;
    border-radius: 15px;
    min-width: 250px;
    width: 20%;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%) scale(1);
    margin: 0px auto;
}

form {
    margin: 0 auto;
    width:90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    font-family: poppins;
}

form h2 {
    padding:10px;
}

input {
    display:block;
    padding: 10px;
    font-family: inherit;
    border:none;
    background-color: white;
    font-weight: 600;
    font-size: 16px;
    border-radius: 5px;
}

.read {
    display:inline-block;
    padding: 10px;
    font-weight: 600;
}

.hide {
    display: none;
}

.submit {
    margin-bottom: 20px;
}

.submit:hover {
    box-shadow: 1px 1px 3px grey;
}

.submit:active {
    box-shadow: 0px 0px 1px grey;
}